<mat-card class="kanban-column-card">
    <mat-card-header>
        <div mat-card-avatar class="status-dot" [ngClass]="column.status"></div>
        <mat-card-title>{{ column.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div cdkDropList [cdkDropListData]="cards" (cdkDropListDropped)="cardDropped.emit($event)">
            <ng-container *ngFor="let card of cards">
                <kanban-card [card]="card" [canDrag]="card.canDrag"
                    (viewDetail)="cardDropped.emit({ type: 'viewDetail', card })"
                    (viewDiff)="cardDropped.emit({ type: 'viewDiff', card })"
                    (viewComment)="cardDropped.emit({ type: 'viewComment', card })"
                    (viewAttachment)="cardDropped.emit({ type: 'viewAttachment', card })">
                </kanban-card>
            </ng-container>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button color="primary" class="add-new-btn" fullWidth>
            <mat-icon>add</mat-icon> Add new
        </button>
    </mat-card-actions>
</mat-card>