<h2 mat-dialog-title>Request #{{ request?.id }} - {{ request?.title }}</h2>
<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Details">
            <div class="detail-section">
                <div><strong>Creator:</strong> {{ request?.creator }}</div>
                <div><strong>Review Owner:</strong> {{ request?.reviewOwner }}</div>
                <div><strong>Created:</strong> {{ request?.createdDate | date:'short' }}</div>
                <div><strong>Status:</strong> {{ request?.status }}</div>
                <div><strong>Approvals:</strong> {{ request?.totalApprovals }} / {{ request?.currentStage }}</div>
            </div>
        </mat-tab>
        <mat-tab label="Comments">
            <div class="comments-section">
                <div *ngFor="let comment of request?.comments" class="comment">
                    <div class="comment-author">{{ comment.author }}</div>
                    <div class="comment-body">{{ comment.body }}</div>
                    <div class="comment-date">{{ comment.date | date:'short' }}</div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Attachments">
            <div *ngIf="request?.attachment">
                <a [href]="request.attachment.url" download>{{ request.attachment.name }}</a>
            </div>
            <div *ngIf="!request?.attachment">No attachments.</div>
        </mat-tab>
        <mat-tab label="Approval Logs">
            <div class="logs-section">
                <div *ngFor="let log of request?.approvalLogs">
                    <div>{{ log }}</div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>